
.hr{
    color: red;
    font-weight: bolder;
}

#aula{
 color: Gray;
}
h2{
    font-family: Arial;
    font-size: 20px;
    font-style: italic;
    font-weight: bold
}
th{
    font-family:  'Times New Roman', Times, serif;
    font-size: 20px;
    border: 2px solid black;
}
td{
    border: 2px solid black;
}
table{
    border: 3px solid black;
}


.sala{
    font-size: 30px;
    
}


dl{
    margin: 15px;
    padding: 10px;
}

dt{
    padding: 10px;
}

.dia{
    line-height: 10px;
}